In [1]:
import re
import numpy as np
import pandas as pd
import nltk

In [1]:
text1 = "Ethics are built right into the ideals and objectives of the United Nations "
print len(text1)

76

In [3]:
text2 = text1.split(" ")
print len(text2)

14

In [5]:
#words longer than 3 letters in text2
[w for w in text2 if len(w) > 3]

['Ethics',
 'built',
 'right',
 'into',
 'ideals',
 'objectives',
 'United',
 'Nations']

In [6]:
#capitalized words in text2
[w for w in text2 if w.istitle()]

['Ethics', 'United', 'Nations']

In [8]:
#words that end with s
[w for w in text2 if w.endswith("s")]

['Ethics', 'ideals', 'objectives', 'Nations']

In [10]:
text3 = 'To be or not to be'
text4 = text3.split(" ")
print len(text4)

6

In [11]:
print len(set(text4))

5

In [12]:
len(set([w.lower() for w in text4]))

4

In [13]:
text5 = '"Ethics are built right into the ideals and objectives of the United Nations" \
#UNSG @ NY Society for Ethical Culture bit.ly/2guVelr'
text6 = text5.split(" ")
text6

['"Ethics',
 'are',
 'built',
 'right',
 'into',
 'the',
 'ideals',
 'and',
 'objectives',
 'of',
 'the',
 'United',
 'Nations"',
 '#UNSG',
 '@',
 'NY',
 'Society',
 'for',
 'Ethical',
 'Culture',
 'bit.ly/2guVelr']

In [14]:
#find hashtags()
[w for w in text6 if w.startswith("#")]

['#UNSG']

In [16]:
#find callouts
[w for w in text6 if w.startswith("@")]

['@']

In [2]:
text7 = '@UN @UN_Women "Ethics are built right into the ideals and objectives of the United Nations" \
#UNSG @ NY Society for Ethical Culture bit.ly/2guVelr'
text8 = text7.split(' ')

In [3]:
[w for w in text8 if re.search("@[A-Za-z0-9_]+", w)]

['@UN', '@UN_Women']

In [4]:
[w for w in text8 if re.search("@\w+", w)]

['@UN', '@UN_Women']

In [5]:
#finding specific characters
text12 = "ouagadougou"
re.findall(r"[aeiou]", text12)

['o', 'u', 'a', 'a', 'o', 'u', 'o', 'u']

In [6]:
#not a specific character
re.findall(r"[^aeiou]", text12)

['g', 'd', 'g']

In [7]:
time_sentences = ["Monday: The doctor's appointment is at 2:45pm.", 
                  "Tuesday: The dentist's appointment is at 11:30 am.",
                  "Wednesday: At 7:00pm, there is a basketball game!",
                  "Thursday: Be back home by 11:15 pm at the latest.",
                  "Friday: Take the train at 08:10 am, arrive at 09:00am."]

df = pd.DataFrame(time_sentences, columns=['text'])
df

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [8]:
#find number of characters in each string
df["text"].str.len()

0    46
1    50
2    49
3    49
4    54
Name: text, dtype: int64

In [9]:
#find number of tokens in each
df["text"].str.split().str.len()

0     7
1     8
2     8
3    10
4    10
Name: text, dtype: int64

In [10]:
#find entries with appointment
df["text"].str.contains("appointment")

0     True
1     True
2    False
3    False
4    False
Name: text, dtype: bool

In [11]:
#find number of times digit occurs in each
df["text"].str.count(r"\d")

0    3
1    4
2    3
3    4
4    8
Name: text, dtype: int64

In [12]:
#find all digit occur
df["text"].str.findall(r"\d")

0                   [2, 4, 5]
1                [1, 1, 3, 0]
2                   [7, 0, 0]
3                [1, 1, 1, 5]
4    [0, 8, 1, 0, 0, 9, 0, 0]
Name: text, dtype: object

In [13]:
#group and find hours and minutes
df["text"].str.findall(r"(\d?\d):(\d\d)")

0               [(2, 45)]
1              [(11, 30)]
2               [(7, 00)]
3              [(11, 15)]
4    [(08, 10), (09, 00)]
Name: text, dtype: object

In [14]:
#replace weekdays with ???
df["text"].str.replace(r"\w+day\b", "???")

0          ???: The doctor's appointment is at 2:45pm.
1       ???: The dentist's appointment is at 11:30 am.
2          ???: At 7:00pm, there is a basketball game!
3         ???: Be back home by 11:15 pm at the latest.
4    ???: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [15]:
#replace weekday with 3 letter abbreviation
df["text"].str.replace(r"(\w+day\b)", lambda x: x.groups()[0][:3])

0          Mon: The doctor's appointment is at 2:45pm.
1       Tue: The dentist's appointment is at 11:30 am.
2          Wed: At 7:00pm, there is a basketball game!
3         Thu: Be back home by 11:15 pm at the latest.
4    Fri: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [19]:
#create new column from first match of extracted groups
df["text"].str.extract(r"(\d?\d):(\d\d)")

C:\Users\Steve\Anaconda2\envs\gl-env\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  from ipykernel import kernelapp as app

    0   1
0   2  45
1  11  30
2   7  00
3  11  15
4  08  10

In [20]:
# extract the entire time, the hours, the minutes, and the period
df['text'].str.extractall(r'((\d?\d):(\d\d) ?([ap]m))')

                0   1   2   3
  match
0 0        2:45pm   2  45  pm
1 0      11:30 am  11  30  am
2 0        7:00pm   7  00  pm
3 0      11:15 pm  11  15  pm
4 0      08:10 am  08  10  am
  1       09:00am  09  00  am

In [21]:
# extract the entire time, the hours, the minutes, and the period with group names
df['text'].str.extractall(r'(?P<time>(?P<hour>\d?\d):(?P<minute>\d\d) ?(?P<period>[ap]m))')

             time hour minute period
  match
0 0        2:45pm    2     45     pm
1 0      11:30 am   11     30     am
2 0        7:00pm    7     00     pm
3 0      11:15 pm   11     15     pm
4 0      08:10 am   08     10     am
  1       09:00am   09     00     am